ul li img {
  margin-left: 15px;
}

#counter {
  margin-bottom: 15px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  display: block;
}

/* #gallery li img {
  width: 250px;
  height: 200px;
} */
